.expenses-filter {
  color: white;
  padding: 0 1rem;
}

.expenses-filter__control {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  width: 100%;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  border-radius: 6px;
  font: inherit;
  font-weight: bold;
  padding: 0.5rem 3rem;
}