.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.new-expense__control input {
  border-radius: 6px;
  border: 1px solid #ccc;
  font: inherit;
  max-width: 100%;
  padding: 0.5rem;
  width: 20rem;
}

.new-expense__actions {
  text-align: right;
}